/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

    font-family: 'IBM Plex mono', sans-serif;
    font-weight: 400;
    background-color: var(--fon);
    background-image: var(--header-background-image-url);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: var(--text);
}

.wrapper {
    padding: 0 10px;
}

.header {
    height: 100vh;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr min-content 1fr;
    position: relative;

    padding: 10px;
    margin-bottom: 40px;
}

.triangle::before {
    content: '';
    position: absolute;

    border-top: 1px solid var(--text-button);
    border-right: 1px solid var(--text-button);

    width: 25px;
    height: 25px;
    top: 10px;
    right: 10px;
}

.triangle::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--text-button);
    border-left: 1px solid var(--text-button);

    left: 10px;
    bottom: 10px;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.header__theme-menu-button {
    outline: 0;
    background: inherit;
    border: none;
    text-transform: lowercase;
    padding: 0 13px;
    cursor: pointer;
    font-size: 18px;
    color: var(--text-button);
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--text-button);
}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--text-button);
}

.header__title {
    font-weight: bold;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 95.7px;
    letter-spacing: 1px;
    color: var(--main-title-text);
    text-shadow: 4px 4px var(--title-text-shadow);
}

.accent-fon {
    background-color: var(--accent);
    font-size: 18px;
    font-weight: 700;
    color: var(--title-text);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;

    margin-bottom: 40px;
}

.why {
    display: grid;
}

.how {
    display: grid;
}

.section__title {
    font-size: 18px;
    margin-bottom: 19px;
    color: var(--section-title-text);
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card__text {
    font-size: 18px;
    line-height: 23.5px;
}

.card__link {
    text-decoration: none;
    cursor: pointer;
    text-shadow: 2px 4px var(--title-text-shadow);
}

.card__link:hover {
    border-bottom: 1px solid var(--text-button);
}

.card__link:focus-visible {
    outline: 1px solid var(--text-button);
}

.how .card__title {
    margin-bottom: 10px;
}

.card__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card__list-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pictures .cards {
    gap: 10px;
}

.pictures__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pictures__list-item {
    width: 100%;
    object-fit: fill;
    height: auto;
}

.footer {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__title {
    font-weight: bold;
    font-size: 116px;
    line-height: 95.7px;
    letter-spacing: 1px;
    color: var(--main-title-text);
    text-shadow: 4px 4px var(--title-text-shadow);
}

@media screen and (width >= 768px) {
    .header__description {
        width: calc(50% - 20px);
        margin-left: auto;
    }

    .header {
        padding: 20px;
    }

    .wrapper {
        padding: 0 20px;
    }

    .why {
        grid-template-columns: 1fr 2fr;
        gap: 20px;
    }

    .how {
        grid-template-columns: 1fr 2fr;
        gap: 20px;
    }

    .pictures__list {
        display: grid;
        grid-template-areas: 'sunset sunset ice-cream' 'tape books ice-cream' 'tape street street';
    }

    .pictures__list-item {
        height: 100%;
        object-fit: cover;
    }

    .sunset {
        grid-area: sunset;
    }

    .ice-cream {
        grid-area: ice-cream;
    }

    .tape {
        grid-area: tape;
    }

    .books {
        grid-area: books;
    }

    .street {
        grid-area: street;
    }

    .triangle::before {
        top: 20px;
        right: 20px;
    }

    .triangle::after {
        left: 20px;
        bottom: 20px;
    }
}

@media screen and (width>= 1024px) {
    .header__description {
        align-self: center;
    }

    .header__theme-menu {
        align-self: start;
    }

    .header__theme-menu-list {
        flex-direction: row;
        justify-content: center;
    }

    .what .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}
