/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
    --fon: #fff1f7;
    --text: #353430;
    --text-button: #353430;
    --text-button-light: #32312d66;
    --accent: #ff8dcb;
    --main-title-text: #ffc2e6;
    --title-text-shadow: #ff8dcb;
    --title-text: #353430;
    --section-title-text: #353430;
    --header-background-image-url: url('../images/cover-image-light.png');
}

.decor-item {
    display: none;
}
